<!DOCTYPE html>

<head>
    <!-- Meta tags -->
    <meta charset = "utf-8">
    <meta name = "viewport" content = "width = device-width, initial-scale = 1, shrink-to-fit = no">
    <meta name = "language" content = "RO">
    <meta name = "description" content = "Itec WebDev">
    <meta name = "author" content = "DeGru">
    <meta http-equiv = "Expires" content = "0">
    <meta name = "theme-color" content = "#121212">
    <meta name = "msapplication-navbutton-color" content = "#121212">
    <meta name = "apple-mobile-web-app-status-bar-style" content = "#121212">
    <meta name = "apple-mobile-web-app-capable" content = "yes">
    <meta name = "mobile-web-app-capable" content = "yes">
    <meta http-equiv = "Cache-Control" content = "cache"> 

    <!-- Page Title and Favicon -->
    <title>DeGru - Login</title>
    <link rel = "icon" type = "image/png" href = "../statics/Images/Logo.png">

    <!-- JQuerry-->
    <script src = "../statics/ThirdParty/JQuery/Jquery.min.js"></script>

    <!-- Bootstrap -->
    <link href = "../statics/ThirdParty/Bootstrap/css/bootstrap.min.css" rel = "stylesheet" type = "text/css">
    <script src = "../statics/ThirdParty/Bootstrap/js/bootstrapmin.js"></script>

    <!-- Custom Fonts and icons -->
    <link href = "https://fonts.googleapis.com/css?family=Montserrat:400,700" rel = "stylesheet" type = "text/css" crossorigin>
    <link href = "../statics/ThirdParty/FontAwesome/css/all.min.css" rel = "stylesheet" type = "text/css">

    <!-- CSS -->
    <link href = "../statics/CSS/Main.css" rel = "stylesheet">
    <link href = "../statics/CSS/Login.css" rel = "stylesheet">

    <!-- Javascript -->
    <script src = "../statics/JS/Main.js" defer></script>
    <script src = "../statics/JS/Login.js" defer></script>
</head>

<body class = "GradientAnimation">
    <!-- Login Section -->
    <section id = "LoginSection">
        <div class = "container-fluid vertical-center BackgroundImageFullscreen" id = "LoginPageContainer" style = "background-image: url(../statics/Images/LoginBackground.svg);">
            <div class = "container" id = "LoginContainer">
                <!-- Login Logo -->
                <div class = "row text-center LoginRow" id = "LoginLogoRow">
                    <img class = "AnimationIncrease0" id = "LoginLogo" src = "../statics/Images/Logo.png">
                </div>

                <!-- Login Form -->
                <div class = "row LoginRow text-center" id = "FormRow">
                    <form action = "/verify-login" method = "POST" id = "Form">                    
                        <div class = "row FormRow" id = "FormUsername">
                            <label class = "FormLabel TextMedium" id = "LabelUsername">Username <i class = "fas fa-user"></i></label>
                            <input class = "FormInput TextSmall" id = "InputUsername" type = "text" name = "Username" required>
                        </div>

                        <div class = "row FormRow" id = "FormPassword">
                            <label class = "FormLabel TextMedium" id = "LabelPassword">Password <i class = "fas fa-lock AnimationIncrease1" id = "PasswordIcon"></i></label>
                            <input class = "FormInput TextSmall" id = "InputPassword" type = "password" name = "Password" data-toggle = "tooltip" data-placement = "right" title = "This is the text of the tooltip" required>
                        </div>

                        {% if error %}
                            <h1 class = "TextBig" style = "color: red;">{{ error }}</h1>
                        {% endif %}

                        <div class = "row FormRow" id = "FormLoginButton">
                            <div>
                                <button class = "ButtonRoundedBig AnimationIncrease0" id = "LoginButton" type = "submit" onclick = "CreateCookie();">Login</button>
                            </div>
                        </div>

                        <div class = "Row FormRow" id = "FormRememberMe">
                            <p class = "TextMedium">Remember me <input id = "RememberMe" type = "checkbox"></p>
                        </div>
                    </form>

                    <div class = "row FormRow" id = "FormLoginSwitchButton">
                        <div>
                            <a class = "CustomLink" id = "LoginSwitchButton" href = "signup" >Don't have an account? Sign up</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>